#success_message{ display: none;}
form#contact_form {
    margin-top: 5%;
	background: rgb(255, 255, 255);
	box-shadow: 0 0 10px 0 #7777777a;
}


body{
	background: #F2F2F2;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}

.btn {
	border: none;
	padding: 1rem 2rem;
	border-radius: 100vh;
	background-image: linear-gradient(to right, #29e2be, #0c5547);
	color: rgb(1, 143, 226);
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	margin: 5% auto;
	cursor: pointer;
  }
  
  .btn-warning{
	  margin-left: 12%;
	  margin-top: -5%;
  }

  .popup {
	&__wrapper {
	  position: fixed;
	  top: 0;
	  left: 0;
	  background-color: rgba(0, 0, 0, 0.2);
	  width: 100%;
	  height: 100%;
	  display: none;
	}
  
	&__content {
	  background-color: #eee;
	  padding: 1rem;
	  text-align: center;
	  margin: 5% auto;
	  width: 100%;
	  max-width: 25rem;
	  position: relative;
	}
  
	&__close {
	  position: absolute;
	  top: 1rem;
	  right: 1rem;
	  border: none;
	  background-color: #0c5547;
	  color: #fff;
	  padding: 0.2rem 0.4rem;
	  cursor: pointer;
	}
  
	&__details h2 {
	  font-size: 2rem;
	  font-family: sans-serif;
	  text-transform: uppercase;
	  color: #0c5547;
	}
  
	&__details p {
	  text-transform: uppercase;
	  font-family: sans-serif;
	}
  
	&__btn {
	  padding: 0.5rem 1rem;
	  margin: 0 auto;
	}
  }
  

  .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
  }
  
  .col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
  }
  
  .col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
  }
  
  .col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
	padding: 0 16px;
  }
  
  .container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
  }
  
  #wrapper{
	box-shadow: 0 0 10px 0 #7777777a;
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	overflow: hidden;
  }

  input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  label {
	margin-bottom: 10px;
	display: block;
  }
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }
  
  .btn {
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
  }
  
  .btn:hover {
	background-color: #45a049;
  }
  
  a {
	color: #2196F3;
  }
  
  hr {
	border: 1px solid lightgrey;
  }
  
  span.price {
	float: right;
	color: grey;
  }
  
  select#cname {
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.payment-method .bkash, .nagad{
    width: 70px;
	margin-left: 5px;
}

.payment-method {
    margin-left: 135px;
    margin-top: -37px;
}

.roket{
	width: 50px;
	margin-left: 5px;
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 20px;
	}
  }